{% extends 'base.html.twig' %}

{% block title %}
    Tophos - HomePage
{% endblock %}

{% block content %}
    <h1 class="text-center my-3 text-white">Trouvez le photographe qui vous correspond</h1>
    <div class="d-flex justify-content-between w-100">
        {% for photograph in photographList %}
            <div class="m-4 bg-white" style="width: 20%">
                <img src="/upload/{{ photograph.profil_picture }}" class="w-100">
                <p class="text-center mt-2">{{ photograph.firstName }} {{ photograph.lastName }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}